@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

html,
body {
    height: 100%;
    font-family: 'Montserrat', Arial, sans-serif;
}

body {
    overflow-x: hidden;
}

.lang li {
    display: block;
    float: left;
    width: 33%;
    height: 33px;

}

.lang-sep {
    border: 1px;
    border-style: solid;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 0px;
    border-color: gray;

}

.navbar-brand {
    float: none;
    height: 115px;
}

.layer {
    background-color: rgba(220, 220, 220, .6);
    height: 40px;
    width: 40px;
    border-radius: 30px;
}

#shopping-cart {
    margin-top: 4vmin;
}

#btnEmpty {
    float: right;
}

.navsep {
    width: 90%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    margin-bottom: 2px;
}

.productimg {
    display: inline-flex;
}

.footsep {
    width: 90%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    margin-bottom: 20px;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
    background-color: rgba(220, 220, 220, .8);
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar-lang {
    margin-top: -9%;
    text-transform: uppercase;
    display: flex;
    float: right;
    margin-right: -30px;
}


.nav .navbar-lang > li > a {
    border-width: 3px;
    color: rgb(76, 50, 35);
    background: none;
    padding: 10px 10px;
    font-size: 10px;
}

ul {
    list-style: none;
}

.fixed-me{
    transition: all 1s ;
}

.fixed-me{
    background-color:rgba(238,238,238, .9)!important;
    padding: 0px  !important;
    margin-bottom: 5px;
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index:1024;
    width: 100%;
}

.fixed-me li a {
    float: none;
    display: inline-block
}

.fixed-me.navbar-nav>li {
    float: none;
    display:inline-block;
}

.sticknav {
    transition: all 1s ;
}

.nav .navbar-lang > li > a:hover {
    color: #9c6f04;
}

.nav .navbar-lang > li > .active {
    color: #9c6f04;
}

.nav .lang > li > a {
    padding: 5px 0px 5px 0px;
    margin-top: 10px;
}

.nav > li > a {
    padding: 10px 45px;
}

.navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}

.navbar-inverse {
    background-color: rgba(34, 34, 34, 0);
    border-bottom: none;
}

.navbar-inverse .navbar-nav > li > a {
    color: #080808;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 9.5px;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #9c6f04;
}

.navbar-inverse .navbar-nav > li > a.active {
    color: #9c6f04;
}
.customized a {
    color: #231812;
}

#productSlider img {
    width: auto;
    height: 54vmin;
    max-height: 55vmin;
    margin: auto;
}

#picCarousel > a.carousel-control {
    background-image: none !important;
}

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.socialborder {
    border: 1px;
    border-style: solid;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 0px;
}

.group-social {
    float: right;
    display: flex;
}

.group-social2 {
    display: flex;
}

.footer {
    position: absolute;
    bottom: 0;
    margin-bottom: 1%;
    width: 100%;
}

#mobileNav, #mobileNav .subnav {
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
    -webkit-transition: max-height, .3s;
    -moz-transition: max-height, .3s;
    -o-transition: max-height, .3s;
    transition: max-height, .3s;
}

#mobileMenuLink {
    display: none;
    visibility: hidden;
    margin: 15px 0 0;
}

.productThumbs {
    display: inline-flex;
}

.customized {
    margin-right: 35px;
    margin-left: 35px;
}

@media (min-width: 992px) {
    .productimg {
        height: 250px;
    }
}

@media only screen and (max-width:768px) {

    .xClass {
        visibility: hidden;
    }
}

@media only screen and (max-width: 640px) {

    .layer {
        visibility: hidden;
    }

    .navbar-lang {
        margin-top: 3%;
        display: flex;
        margin-left: 70%;
    }

    .navbar-cp {
        margin-top: -16%;
        display: flex;
        float: left;
        margin-right: -30px;
    }

    #mobileNav {
        background-color: rgba(239, 243, 243, 0.9);
        margin-top: 0;
    }

    #mobileNav .wrapper {
        border-bottom-width: 2px;
    }

    .nav > li > a {
        color: black;
        border-bottom-color: black;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 9.5px;
    }

    @media only screen and (max-width: 640px) {

        #mobileNav .wrapper {
            padding: 1em 0;
            border-bottom-style: solid;
            border-bottom-color: rgba(0, 0, 0, .1);
        }
    }

    #mobileMenuLink {
        margin: 0;
        display: block;
        font-size: 14px;
        line-height: 1.6em;
        font-weight: bold;
        font-style: normal;
        padding: 5px 5px 5px;
        background-color: rgba(241, 241, 241, 0.8);
        border-bottom-style: solid;
        border-bottom: 1px;
        border-bottom-color: rgba(0, 0, 0, .1);
        text-align: center;
        visibility: visible;
        text-transform: uppercase;
        letter-spacing: 2px;

    }

    #mobileMenuLink > a {
        color: black;
    }
}

.mainpic {
    width: 259px;
    height: 375px;
}

/* layout.css Style */
.upload-drop-zone {
    height: 100px;
    border-width: 2px;
    margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
    color: #ff695e;
    border-style: dashed;
    border-color: #ff695e;
    line-height: 100px;
    text-align: center;
    background-color: #2f2f2f;
}

.upload-drop-zone.drop {
    color: #222;
    border-color: #222;
}

#adminNavbar {
    height: 51px;
}

nav[role="admin"].topbar {
    background: #1f2021;
    border: none;
    margin-bottom: 0;
    z-index: 9999;
    height: 51px;
}

nav[role="admin"].navbar-fixed-bottom, nav[role="admin"].navbar-fixed-top {
    position: relative;
}

nav[role="admin"].topbar, nav[role="admin"].navbar-header a {
    color: #ffffff;
}

nav[role="admin"] .navbar-btn {
    background: none;
    border: none;
    height: 35px;
    min-width: 35px;
    color: #fff;
}

nav[role="admin"] .navbar-text {
    margin-top: 14px;
    margin-bottom: 14px;
}

nav[role="admin"] .button {
    margin-right: 5px !important;
}

.position {
    padding-top: 6px;
}

nav[role="admin"] .buttons a {
    color: white;
}

nav[role="admin"] .navbar-header {
    float: left;
    padding: 0;
    text-align: left;
    width: 100%;
    margin-right: -15px;
    margin-left: -15px;

}

nav[role="admin"] .nav {
    background: none;
}

nav[role="admin"] .navbar-brand {
    float: left;
    margin-left: 0;
    height: 40px;
    padding-left: 50px;
}

#navbarRegular {
    /*padding-top: 50px;*/

}

#hiddenBtn {
    display: none;
    position: absolute;
    z-index: 9999;
    height: 51px;
    width: 51px;
    border-radius: 0;
}

#hiddenBtn i {
    color: white;
}

#save {
    display: none;
}

.btnColor {
    background-color: black;
}

.btnAddAction, .checkoutButton {
    color: black;
    background: transparent;
    border-radius: 0;
    border: 1px solid black;
}

.checkoutButton:hover, .btnAddAction:hover {
    background:black;
    color: white;
}

.navbar-btn img {
    height: 30px;
    width: 30px;
}

#myModal {
    padding-top: 30px;
}

#myModal img {
    width: 100%;
}

.modal-body, .modal-footer, .panel-body {
    background-color: #1f2021;
}

.panel-heading {
    background-color: #2f2f2f !important;
    color: white !important;
}

#myModal h3, h4 {
    color: #777;
}

#closeModal {
    display: none;
}

#selectable {
    border: 1px solid yellow;
}

.thumbnail {
    width: 150px;
    border: none;
    margin-left: 1vw;
}


.qtyInput {
    border-radius: 3px;
    border: 0.5px solid black;
    width:10%;
}

.thumbs {
    display: inline-flex;
}

.navbar-inverse {
    border: none;
}

.orderDone {
    background-color: #21ba45;
}